#
# Logger config file.
#
# Parameters:
# * HANDLERS - Where to display the logging information
#       Options: console|file
#       (any number of values, comma-separated)
# * OUTPUT_DIRECTORY - Output path, relative to the logger header/library
#       (the directory will NOT be created if it does not exist)
# * LEVEL - Lower level to display
#       Options: debug|info|warn|error
#       (only one value; if more than one, none will apply)
#
# Usage example:
#
# HANDLERS=console,file
# OUTPUT_DIRECTORY=../log
# LEVEL=error
#

HANDLERS=console,file
OUTPUT_DIRECTORY=../../log
LEVEL=debug

# eof
